[flake8]
# The default configuration ignores: E121, E123, E126, E133, E226, E241,
# E242, E704 and W503 so ignore them here as well. See more details in:
# https://pycodestyle.readthedocs.io/en/latest/intro.html#error-codes

ignore =
    E121,
    E123,
    E126,
    E133,
    E226,
    E241,
    E242,
    E704,
    W503,
    # F401: module imported but unused
    F401,
    # F403: ‘from module import *’ used; unable to detect undefined names
    F403

